.last-updated {
  color: #666;
  font-size: 10px;
}

.team-name {
  font-size: 20px;
}

.follower-count {
  font-weight: bold;
  font-size: 40px;
  color: #B00100;
}

.last-ten-days-updown {
  font-weight: bold;
  font-size: 26px;
  color: #B00100;
}
